@model List<FileInfo>

    @{
        ViewBag.Title = "UploadFile";
    }

<h2>UploadFile</h2>
@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <input type="file" name="file" id="txtUploadFile"/><br/>
    <input type="submit" name="Submit" id="Submit" value="Upload"/>
}
@if (Model != null)
{
    foreach (var file in Model)
    {
        <b>@Html.ActionLink(file.ToString(), "ShowImage", new {id = file.Name})</b>
        <br>
    }
}


@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
        var myID = 1;
        $('#Submit').on('click', function (e) {
            var files = e.target.files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Home/ShowUploadedFiles',
                        contentType: "image/jpeg",
                        processData: false,
                        data: data,
                        success: function(result) {
                            console.log(result);
                        },
                        error: function(xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });
    </script>*@